extends base

block content
  .background-container
    .nav
      .nav-contents
        .Logo
          h1 D-Quiz
        .search-box
          input#quiz-search(type='text' placeholder='search for quizzes')
          .click-to-search-quiz
            img(src=`./images/search-quiz.png` alt='')
          if user
            if user.photo.startsWith("user")
              .user-photo
                img(src=`./img/users/${user.photo}` alt='')
            else if !user.photo.startsWith("user")
              .user-photo
                img(src=`${user.photo}` alt='')
          else if !user   
            .sign-up-home
              p sign up
    .central-container
      .left-container-screen
        .side-nav
          ul
            li.home.boldIt Home
            li.my-profile My Profile
            li.create-quiz Create Quiz
            li.people People
            li.friends Friends
            li.settings Settings
      .middle-container-home
        if user
          .top-home-container
            .welcome-message
              h1
                | Welcome 
                span= user.name
        .recommended-list-message
          .text-recommended
            h3 Here&apos;s Top Quizzes for You!
        .random-quiz-list
          for quiz in quizzes
            .your-quiz.mega-home-page
              .your-quiz-header
                .quiz-title
                  h2= quiz.title
                .quiz-id 
                  p=quiz.id   
                if quiz.difficulty === 'easy'
                  .difficulty.easy-mode
                    p= quiz.difficulty
                else if quiz.difficulty === 'medium'
                  .difficulty.medium-mode
                    p= quiz.difficulty
                else if quiz.difficulty === 'difficult'
                  .difficulty.difficult-mode
                    p= quiz.difficulty        
              .your-quiz-middle
                p= quiz.description
              .your-quiz-footer
                .your-quiz-tags
                  .tag(style='color: rgb(176, 72, 72)')
                    p coding
                  .tag(style='color: rgb(214, 169, 62)')
                    p music
                  .tag(style='color: rgb(23, 195, 135)')
                    p computer
                  .tag(style='color: rgb(185, 47, 132)')
                    p binary
                  .tag(style='color: rgb(120, 19, 117)')
                    p web
                  .tag(style='color: rgb(234, 149, 22)')
                    p app
                  .tag(style='color: rgb(85, 11, 117)')
                    p add
                .quiz-author
                  .author-by
                    p by
                  .author-name= quiz.username
        
      .right-free-space