extends base

block content 
  .background-container
    .nav
      .nav-contents
        .Logo
          h1 D-Quiz
        .search-box
          input#quiz-search(type='text' placeholder='search for quizzes')
          .click-to-search-quiz
            img(src=`./images/search-quiz.png` alt='')
          if user
            if user.photo.startsWith("user")
              .user-photo
                img(src=`./img/users/${user.photo}` alt='')
            else if !user.photo.startsWith("user")
              .user-photo
                img(src=`${user.photo}` alt='')
          else if !user   
            .sign-up-home
              p sign up
    .central-container
      .left-container-screen
        .side-nav
          ul
            li.home Home
            li.my-profile My Profile
            li.create-quiz Create Quiz
            li.people People
            li.friends.boldIt Friends
            li.settings Settings
      .middle-container-screen-friendrequest
        .top-friendreq-reject
          .profile-pics-friends
            .profile-pic-friendreq
              if user.photo.startsWith("user")
                img(src=`/img/users/${user.photo}` alt='')
              else if !user.photo.startsWith("user")
                img(src=`${user.photo}` alt='')
      
            .friends-logo
              img(src='/images/heartbroken.png' alt='')
            
            .profile-pic-friendreq
              if friend.photo.startsWith("user")
                img(src=`/img/users/${friend.photo}` alt='')
              else if !friend.photo.startsWith("user")
                img(src=`${friend.photo}` alt='')
          p= `Rejected Friend Request with ${friend.username}!!`
        .bottom-friendreq-accept
          .back-to-friends
            p Back to Friends
      .right-container-screen-friendrequest
