extends base

block content 
  .background-container
    .nav
      .nav-contents
        .Logo
          h1 D-Quiz
        .quiz-length-profile
          p= quizzes.length  
        .search-box
          input#quiz-search(type='text' placeholder='search for quizzes')
          .click-to-search-quiz-spl
            img(src=`/images/search-quiz.png` alt='')
    if !friendBool
      .central-container
        .left-container-screen
          .side-nav
            ul
              li.home Home
              li.my-profile My Profile
              li.create-quiz Create Quiz
              li.people People
              li.friends Friends
              li.settings Settings
        .middle-container-screen
          .profile-card
            .profile-header
              .profile-image
                if user.photo
                  if user.photo.startsWith("user")
                    img(src=`/img/users/${user.photo}` alt='')
                  else if !user.photo.startsWith("user")
                    img(src=`${user.photo}` alt='')
                else if !user.photo
                  img(src=`/img/users/default-photo.png` alt='')

              .profile-title
                div
                  h1= user.name
                .temp-username 
                  p= `@${user.username}`
                p
                  span= user.friends.length
                  |  Friends
            .profile-block1
              .block1-left
                div
                  p Quiz Created
                h2= quizzes.length
              .block1-right
                p.cyan.bio BIO
                div
                  p.para= user.bio
            .profile-block2
              .block1-left
                div
                  p Quiz taken
                h2= user.quizzesTaken.length
              .block1-right
                p.cyan.bio Tags
                div
                  p.para
                    | #coding #web #react #ux #astronomy #content #design #music
                    | #gk #golf ...
            .profile-footer
              .credits
                h2= user.credits
              div
                p credits
        .right-container-screen
        
          .show-quizzes.temp-class
            p Created Quizzes
          for quiz in quizzes
            .your-quiz
              .your-quiz-header
                .quiz-title
                  h2= quiz.title
                .quiz-id-profile 
                  p= quiz.id  
                  
                if quiz.difficulty === 'easy'
                  .difficulty.easy-mode
                    p= quiz.difficulty
                else if quiz.difficulty === 'medium'
                  .difficulty.medium-mode
                    p= quiz.difficulty
                else if quiz.difficulty === 'difficult'
                  .difficulty.difficult-mode
                    p= quiz.difficulty    
              .your-quiz-middle
                p= quiz.description
              .your-quiz-footer
                .your-quiz-tags
                  .tag(style='color: rgb(176, 72, 72)')
                    p coding
                  .tag(style='color: rgb(214, 169, 62)')
                    p music
                  .tag(style='color: rgb(23, 195, 135)')
                    p computer
                  .tag(style='color: rgb(185, 47, 132)')
                    p binary
                  .tag(style='color: rgb(120, 19, 117)')
                    p web
                  .tag(style='color: rgb(234, 149, 22)')
                    p app
                  .tag(style='color: rgb(85, 11, 117)')
                    p add
    else if friendBool 
      .central-container
        .left-container-screen
          .side-nav
            ul
              li.home Home
              li.my-profile My Profile
              li.create-quiz Create Quiz
              li.people People
              li.friends.boldIt Friends
              li.settings Settings
        .middle-container-screen
          .profile-card-friend
            .profile-header-friend
              .profile-image-friend
                if user.photo
                  img(src=`/img/users/${user.photo}` alt='')
                else if !user.photo
                  img(src=`/img/users/default-photo.png` alt='')
              .profile-title-friend
                div
                  h1= user.username
                p
                  span= user.friends.length
                  |  Friends
            .profile-block1
              .block1-left
                div
                  p Quiz Created
                h2= quizzes.length+privateQuizzes.length

              .block1-right
                p.cyan.bio BIO
                div= user.bio
            .profile-block2
              .block1-left
                div
                  p Quiz taken
                h2= user.quizzesTaken.length
              .block1-right
                p.cyan.bio Tags
                div
                  p.para
                    | #coding #web #react #ux #astronomy #content #design #music
                    | #gk #golf ...
            .profile-footer
              .credits
                h2= user.credits
              div
                p credits
        .my-score-screen-friend
          .length-secret-only
            p= privateQuizzes.length
          .quiz-you-attempted-friend
            p Private Quizzes
          
          .score-snippets-friend
            for private in privateQuizzes
              .your-quiz-friend
                .your-quiz-header-friend
                  .quiz-title-friend
                    h2= private.title
                  .quiz-id-profile-friend 
                        p= private.id  
                
                  if private.difficulty === 'easy'
                    .difficulty.easy-mode
                      p= private.difficulty
                  else if private.difficulty === 'medium'
                    .difficulty.medium-mode
                      p= private.difficulty
                  else if private.difficulty === 'difficult'
                    .difficulty.difficult-mode
                      p= private.difficulty 
                .your-quiz-middle
                  p= private.description
                .your-quiz-footer
                  .your-quiz-tags
                    .tag(style='color: rgb(176, 72, 72)')
                      p coding
                    .tag(style='color: rgb(214, 169, 62)')
                      p music
                    .tag(style='color: rgb(23, 195, 135)')
                      p computer
                    .tag(style='color: rgb(185, 47, 132)')
                      p binary
                    .tag(style='color: rgb(120, 19, 117)')
                      p web
                    .tag(style='color: rgb(234, 149, 22)')
                      p app
                    .tag(style='color: rgb(85, 11, 117)')
                    p add
        .right-container-screen
          .show-quizzes
            p Created Quizzes
          for quiz in quizzes
            .your-quiz.temp-class
              .your-quiz-header
                .quiz-title
                  h2= quiz.title
                .quiz-id-profile 
                  p= quiz.id  
                  
                if quiz.difficulty === 'easy'
                  .difficulty.easy-mode
                    p= quiz.difficulty
                else if quiz.difficulty === 'medium'
                  .difficulty.medium-mode
                    p= quiz.difficulty
                else if quiz.difficulty === 'difficult'
                  .difficulty.difficult-mode
                    p= quiz.difficulty    
              .your-quiz-middle
                p= quiz.description
              .your-quiz-footer
                .your-quiz-tags
                  .tag(style='color: rgb(176, 72, 72)')
                    p coding
                  .tag(style='color: rgb(214, 169, 62)')
                    p music
                  .tag(style='color: rgb(23, 195, 135)')
                    p computer
                  .tag(style='color: rgb(185, 47, 132)')
                    p binary
                  .tag(style='color: rgb(120, 19, 117)')
                    p web
                  .tag(style='color: rgb(234, 149, 22)')
                    p app
                  .tag(style='color: rgb(85, 11, 117)')
                    p add